# Measure production configuration
MEASURE_API_KEY=replace-with-long-random-secret
MEASURE_PILOT_CHECKOUT_URL=
MEASURE_TEAM_CHECKOUT_URL=
MEASURE_ENTERPRISE_CONTACT_URL=
MEASURE_CONTACT_URL=https://github.com/mrcodeislife718/Measure/issues/new?title=Measure%20commercial%20pilot
